{% comment %}
  Renders an article card for a given blog

  Accepts:
  - article: {Object} Article object
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' article: article %}
{% endcomment %}

<div class="relative">
  <div class="aspect-[3/2] overflow-hidden rounded bg-primary/5 ">
    {%- if article.image -%}
      {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
      <img
        srcset="
          {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
          {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ article.image.src | image_url }} {{ article.image.src.width }}w
        "
        src="{{ article.image.src | image_url: width: 533 }}"
        sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ article.image.src.alt | escape }}"
        class="aspect-[inherit] h-full w-full object-cover object-center"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
      >
      {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
    {%- endif -%}
  </div>
  <h3 class="mt-4 font-body-weight-bold">
    <a class="after:absolute after:inset-0 after:z-10 after:content-['']" href="{{ article.url }}">
      {{- article.title -}}
    </a>
  </h3>
  <span class="mt-1 block">
    {{ article.published_at | time_tag: format: 'date' }}
  </span>
</div>
