{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - wrapper_class: {String} Wrapper class for card (optional)

  Usage:
  {% render 'card-product', card_product: product %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="relative">
    <div class="grid snap-start gap-6 {% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}">
      <div class="aspect-[4/5] overflow-hidden rounded bg-primary/5">
        {%- if card_product.featured_media -%}
          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
          <img
            srcset="
              {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
            "
            src="{{ card_product.featured_media | image_url: width: 533 }}"
            sizes="320px"
            alt="{{ card_product.featured_media.alt | escape }}"
            class="aspect-[inherit] h-full w-full object-cover object-center"
            {% unless lazy_load == false %}
              loading="lazy"
            {% endunless %}
            width="{{ card_product.featured_media.width }}"
            height="{{ card_product.featured_media.height }}"
          >
          {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
        {%- endif -%}
      </div>
      <div class="grid gap-1">
        <h3
          class="text-copy"
          {% if card_product.featured_media %}
            id="title-{{ section_id }}-{{ card_product.id }}"
          {% endif %}
        >
          <a
            href="{{ card_product.url }}"
            id="CardLink-{{ section_id }}-{{ card_product.id }}"
            class="after:absolute after:inset-0 after:z-10 after:content-['']"
          >
            {{ card_product.title | escape }}
          </a>
        </h3>

        {%- render 'price', product: card_product -%}
      </div>
    </div>
  </div>
{%- else -%}
  <div class="relative">
    <div class="grid w-80 snap-start gap-6">
      <div class="aspect-[4/5] overflow-hidden rounded bg-primary/5"></div>
      <div class="grid gap-1">
        <h3 class="text-copy">
          <a role="link" aria-disabled="true">
            {{ 'onboarding.product_title' | t }}
          </a>
        </h3>
        <div class="relative z-0 flex gap-4 text-copy">
          <span>{{ 1999 | money_without_trailing_zeros }}</span>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
