{%- doc -%}
  Displays a mobile menu in the header.
{%- enddoc -%}

{%- if block.settings.menu != blank -%}
  <header-drawer client:media="(max-width: 1023px)" {{ block.shopify_attributes }}>
    <details>
      <summary
        class="h-8 w-8 [.menu-opening_&]:before:absolute [.menu-opening_&]:before:inset-0 [.menu-opening_&]:before:h-screen [.menu-opening_&]:before:bg-black/25 [.no-js_details[open]_&]:absolute [.no-js_details[open]_&]:left-1/2 [.no-js_details[open]_&]:z-50 [.no-js_details[open]_&]:-translate-x-1/2 [.no-js_details[open]_&]:-translate-y-1/2"
        aria-haspopup="dialog"
        aria-label="{{ 'sections.header.menu' | t }}"
      >
        <span class="flex h-full w-full items-center justify-center [.no-js_details[open]_&]:hidden">
          {% render 'icon-menu' %}
        </span>
        <span class="hidden h-full w-full items-center justify-center [.no-js_details[open]_&]:flex">
          {%- render 'icon-close' -%}
        </span>
      </summary>
      <div
        id="menu-drawer"
        class="bg-contrast fixed inset-0 z-20 h-screen max-w-lg overflow-y-auto [.js_&]:-translate-x-full [.js_&]:transition [.js_&]:duration-300 [.js_.menu-opening_&]:translate-x-0"
        role="dialog"
        aria-modal="true"
        aria-label="{{ 'sections.header.menu' | t }}"
        tabindex="-1"
      >
        <div class="h-nav flex items-center justify-between px-6 sm:px-8 md:px-12">
          <h2 class="text-lead font-body-weight-bold max-w-prose">{{ 'sections.header.menu' | t }}</h2>
          <button
            type="button"
            class="text-primary hover:text-primary/50 -m-4 p-4 transition [.no-js_details[open]_&]:hidden"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {%- render 'icon-close' -%}
          </button>
        </div>
        <nav class="text-copy after:h-nav grid gap-4 px-6 py-6 after:block after:content-[''] sm:gap-6 sm:px-12 sm:py-8">
          {%- for link in block.settings.menu.links -%}
            <a
              href="{{ link.url }}"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              {{ link.title | escape }}
            </a>
          {%- endfor -%}
        </nav>
      </div>
    </details>
  </header-drawer>
{%- endif -%}

{% schema %}
{
  "name": "Menu mobile",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Primary navigation"
    }
  ]
}
{% endschema %}
