{%- liquid
  assign product = block.settings.product
  assign product_form_id = 'product-form-' | append: section.id
-%}

<div {{ block.shopify_attributes }}>
  <product-form client:idle>
    <p class="text-red-500" role="alert" data-error-message hidden></p>
    {%- form 'product',
      product,
      id: product_form_id,
      class: 'form',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form'
    -%}
      <input
        type="hidden"
        name="id"
        value="{{ product.selected_or_first_available_variant.id }}"
        disabled
      >
      <div class="[&_button[aria-disabled]]:background-red-500 mb-12 grid items-stretch gap-4 [&_[aria-hidden]]:hidden">
        <button
          type="submit"
          name="add"
          class="button bg-primary text-contrast w-full disabled:cursor-not-allowed disabled:opacity-50"
          {% if product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >
          <span>
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
        </button>
        {%- if block.settings.show_dynamic_checkout -%}
          {{ form | payment_button }}
        {%- endif -%}
      </div>
    {%- endform -%}
  </product-form>
</div>

{% schema %}
{
  "name": "Buy buttons",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "default": true,
      "label": "Show dynamic checkout buttons",
      "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    }
  ],
  "presets": [
    {
      "name": "Buy buttons"
    }
  ]
}
{% endschema %}
