<form
  action="{{ routes.search_url }}"
  method="get"
  role="search"
  class="text-heading relative flex w-full"
  {{ block.shopify_attributes }}
>
  <input type="hidden" name="type" value="product">
  <input
    type="search"
    name="q"
    value="{{ search.terms | escape }}"
    placeholder="{{ 'general.search.search' | t }}"
    class="border-primary/10 text-heading focus:border-primary/90 w-full border-x-0 border-b-2 border-t-0 bg-transparent px-0 py-2 transition focus:ring-0"
  >
  <input name="options[prefix]" type="hidden" value="last">
  <button type="submit" class="absolute right-0 py-2">
    {{ 'general.search.submit' | t }}
  </button>
</form>

{% schema %}
{
  "name": "Search input",
  "tag": null
}
{% endschema %}
