{%- liquid
  assign product = block.settings.product
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <variant-radios
      class="no-js:hidden mb-10 grid gap-4"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {{ block.shopify_attributes }}
      client:idle
    >
      {%- for option in product.options_with_values -%}
        <fieldset class="mb-4 flex flex-wrap gap-x-4 gap-y-2 last-of-type:mb-0">
          <legend class="text-lead font-body-weight-bold block w-full pb-2">{{ option.name }}</legend>
          {%- for value in option.values -%}
            <div>
              <input
                class="peer sr-only"
                type="radio"
                id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                name="{{ option.name }}"
                value="{{ value | escape }}"
                form="{{ product_form_id }}"
                {% if option.selected_value == value %}
                  checked
                {% endif %}
              >
              <label
                class="peer-checked:border-primary/50 cursor-pointer py-1 leading-none transition-all duration-200 peer-checked:border-b-[1.5px]"
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
              >
                {{ value }}
              </label>
            </div>
          {%- endfor -%}
        </fieldset>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- else -%}
    <variant-selects
      class="no-js:hidden mb-10 grid gap-4"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {{ block.shopify_attributes }}
      client:idle
    >
      {%- for option in product.options_with_values -%}
        <div class="mb-4 flex flex-col gap-x-4 gap-y-2 last-of-type:mb-0">
          <label
            class="text-lead font-body-weight-bold block w-full pb-2"
            for="Option-{{ section.id }}-{{ forloop.index0 }}"
          >
            {{ option.name }}
          </label>
          <div class="relative">
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {%- for value in option.values -%}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}
                    selected="selected"
                  {% endif %}
                >
                  {{ value }}
                </option>
              {%- endfor -%}
            </select>
            <span class="absolute right-4 top-1/2 -translate-y-1/2">
              {% render 'icon-caret' %}
            </span>
          </div>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}

<noscript class="mb-10">
  <div class="mb-4 flex flex-col gap-x-4 gap-y-2 last-of-type:mb-0{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="text-lead font-body-weight-bold block w-full pb-2" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="relative">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
            - {{ variant.price | money | strip_html }}
          </option>
        {%- endfor -%}
      </select>
      <span class="absolute right-4 top-1/2 -translate-y-1/2">
        {% render 'icon-caret' %}
      </span>
    </div>
  </div>
</noscript>

{% schema %}
{
  "name": "Variant picker",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "picker_type",
      "options": [
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "button",
          "label": "Buttons"
        }
      ],
      "default": "button",
      "label": "Type"
    }
  ],
  "presets": [
    {
      "name": "Variant picker"
    }
  ]
}
{% endschema %}
