{%- liquid
  if request.page_type == 'index'
    assign class = 'border-none'
  else
    assign class = 'border-t border-primary/05'
  endif
-%}

<footer
  role="contentinfo"
  style="--blocks-count: {{ section.blocks.size }};"
  class="{{ class }} grid min-h-[25rem] items-start grid-flow-row w-full gap-6 py-8 px-6 md:px-8 lg:px-12 border-b md:gap-8 lg:gap-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-[repeat(var(--blocks-count),_minmax(0,_1fr))] bg-primary dark:bg-contrast dark:text-primary text-contrast overflow-hidden"
>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'link_list' -%}
        <section class="grid gap-4">
          <button class="text-left md:cursor-default">
            {%- if block.settings.heading != blank -%}
              <h3 class="whitespace-pre-wrap max-w-prose font-bold text-lead flex justify-between">{{- block.settings.heading | escape -}}</h3>
            {%- endif -%}
          </button>
          <div class="overflow-hidden transition-all duration-300">
            <nav class="grid gap-2 pb-6">
              {%- for link in block.settings.menu.links -%}
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              {%- endfor -%}
            </nav>
          </div>
        </section>
      {%- when 'country_selector' -%}
        <section class="grid gap-4 w-full md:max-w-[335px]">
          {%- if block.settings.heading != blank -%}
            <h3 id="CountryListLabel" class="whitespace-pre-wrap max-w-prose font-bold text-lead">{{- block.settings.heading | escape -}}</h3>
          {%- endif -%}
          {%- if localization.available_countries.size > 1 -%}
            <localization-form>
              {% form 'localization', class: 'relative' %}
                <button type="button" class="flex items-center justify-between w-full py-3 px-4 border rounded border-contrast/30 dark:border-white" aria-expanded="false" aria-controls="CountryList" aria-describedby="CountryListLabel">
                  {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})

                  {%- render 'icon-caret' -%}
                </button>

                <ul id="CountryList" role="list" class="border-t-contrast/30 border-contrast/30 bg-primary dark:bg-contrast absolute bottom-12 z-10 grid w-full overflow-y-scroll rounded-t border dark:border-white px-2 py-2 transition-[max-height] duration-150 sm:bottom-auto md:rounded-b md:rounded-t-none md:border-t-0 md:border-b max-h-48">
                  {% for country in localization.available_countries %}
                    <li tabindex="-1">
                      <a class="text-contrast dark:text-primary bg-primary dark:bg-contrast w-full p-2 transition rounded flex justify-start items-center text-left cursor-pointer" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                        {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})

                        {%- if country.iso_code == localization.country.iso_code -%}
                          <span class="ml-2">
                            {%- render 'icon-check' -%}
                          </span>
                        {%- endif -%}
                      </a>
                    </li>
                  {% endfor %}
                </ul>

                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              {% endform %}
            </localization-form>
          {%- endif -%}
        </section>
    {%- endcase -%}
  {%- endfor -%}
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "Heading",
          "info": "Heading required to display the menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Displays only top-level menu items"
        }
      ]
    },
    {
      "type": "country_selector",
      "name": "Country selector",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Country",
          "label": "Heading",
          "info": "Heading required to display the country selector"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "country_selector"
      }
    ]
  }
}
{% endschema %}
