{%- liquid
  if request.page_type == 'index'
    assign container_class = 'border-none'
  else
    assign container_class = 'border-t border-primary/05'
  endif
-%}

<footer
  role="contentinfo"
  style="--blocks-count: {{ section.blocks.size }};"
  class="{{ container_class }} md:grid min-h-[25rem] md:items-start md:grid-flow-row w-full py-8 px-6 md:px-8 lg:px-12 border-b md:gap-8 lg:gap-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-[repeat(var(--blocks-count),_minmax(0,_1fr))] bg-primary dark:bg-contrast dark:text-primary text-contrast"
>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'link_list' -%}
        <section class="pt-10 first-of-type:-mt-10 first-of-type:md:mt-0 md:pt-0">
          <details id="Details-{{ block.id }}" class="md:hidden">
            <summary class="list-none">
              <h3 class="whitespace-pre-wrap max-w-prose font-heading font-heading-weight text-lead flex justify-between overflow-hidden">
                <span class="flex-shrink">{{- block.settings.heading | escape -}}</span>
                {%- render 'icon-caret' -%}
              </h3>
            </summary>
            <div id="Panel-{{ block.id }}" class="pt-4 footer-panel">
              <nav class="grid gap-2 pb-2">
                {%- for link in block.settings.menu.links -%}
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                {%- endfor -%}
              </nav>
            </div>
          </details>
          <div class="hidden md:grid gap-4">
            <h3 class="whitespace-pre-wrap max-w-prose font-heading font-heading-weight text-lead">
              {{- block.settings.heading | escape -}}
            </h3>
            <div>
              <nav class="grid gap-2 pb-6">
                {%- for link in block.settings.menu.links -%}
                  <div>
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </div>
                {%- endfor -%}
              </nav>
            </div>
          </div>
        </section>
      {%- when 'country_selector' -%}
        <section class="grid gap-4 w-full md:max-w-[335px] pt-10 md:pt-0">
          {%- if block.settings.heading != blank -%}
            <h3 id="CountryListLabel" class="whitespace-pre-wrap max-w-prose font-heading font-heading-weight text-lead">{{- block.settings.heading | escape -}}</h3>
          {%- endif -%}
          {%- if localization.available_countries.size > 1 -%}
            <noscript>
              {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                <div class="relative">
                  <h2 class="sr-only" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                  <select class="block w-full py-3 px-4 border rounded border-contrast/30 dark:border-white bg-transparent bg-none appearance-none" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                    {%- for language in localization.available_languages -%}
                      <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                        {{ language.endonym_name | capitalize }}
                      </option>
                    {%- endfor -%}
                  </select>
                  <span class="absolute top-1/2 -translate-y-1/2 right-4">
                    {% render 'icon-caret' %}
                  </span>
                </div>
                <button class="mt-4 text-center block w-full">{{ 'localization.update_language' | t }}</button>
              {%- endform -%}
            </noscript>
            <localization-form class="no-js-hidden">
              {% form 'localization', class: 'relative' %}
                <button type="button" class="flex items-center justify-between w-full py-3 px-4 border rounded border-contrast/30 dark:border-white" aria-expanded="false" aria-controls="CountryList" aria-describedby="CountryListLabel">
                  {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})

                  {%- render 'icon-caret' -%}
                </button>

                <ul id="CountryList" role="list" class="border-t-contrast/30 border-contrast/30 bg-primary dark:bg-contrast absolute bottom-12 z-10 w-full overflow-y-auto rounded-t border dark:border-white px-2 py-2 sm:bottom-auto md:rounded-b md:rounded-t-none md:border-t-0 md:border-b max-h-48" hidden>
                  {% for country in localization.available_countries %}
                    <li tabindex="-1">
                      <a class="text-contrast dark:text-primary bg-primary dark:bg-contrast w-full p-2 rounded flex justify-start items-center text-left cursor-pointer" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                        {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})

                        {%- if country.iso_code == localization.country.iso_code -%}
                          <span class="ml-2">
                            {%- render 'icon-check' -%}
                          </span>
                        {%- endif -%}
                      </a>
                    </li>
                  {% endfor %}
                </ul>

                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              {% endform %}
            </localization-form>
          {%- endif -%}
        </section>
    {%- endcase -%}
  {%- endfor -%}
  <div class="self-end pt-14 md:pt-8 opacity-50 md:col-span-2 lg:col-[span_var(--blocks-count)]">
    &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}
    {{ powered_by_link }}
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "Heading",
          "info": "Heading required to display the menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Displays only top-level menu items"
        }
      ]
    },
    {
      "type": "country_selector",
      "name": "Country selector",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Country",
          "label": "Heading",
          "info": "Heading required to display the country selector"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "country_selector"
      }
    ]
  }
}
{% endschema %}
