<section
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
>
  <div class="grid w-full gap-4 border-none px-0 md:gap-8 md:px-8 lg:px-12">
    <div class="grid items-start md:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:gap-20">
      <div class="swimlane hidden-scroll w-screen md:w-full md:grid-flow-row md:grid-cols-2 md:overflow-x-auto md:p-0 lg:col-span-2">
        {%- for media in product.media -%}
          {%- liquid
            assign decimal = forloop.index0 | modulo: 3
            assign is_first = false
            if forloop.first
              assign is_first = true
            endif
            assign is_fourth = false
            if forloop.index0 == 3
              assign is_fourth = true
            endif
            assign is_full_width = false
            if decimal == 0
              assign is_full_width = true
            endif
            if is_full_width
              assign media_wrapper_class = 'md:col-span-2'
              assign sizes = '(min-width: 64em) 60vw, (min-width: 48em) 50vw, 90vw'
            else
              assign media_wrapper_class = 'md:col-span-1'
              assign sizes = '(min-width: 64em) 30vw, (min-width: 48em) 25vw, 90vw'
            endif
            unless is_first or is_fourth
              assign media_wrapper_class = media_wrapper_class | append: ' md:aspect-[4/5]'
            endunless
            assign loading = 'lazy'
            if is_first
              assign loading = 'eager'
            endif
          -%}
          <div class="aspect-square w-mobileGallery snap-center overflow-hidden rounded bg-contrast/10 md:w-full {{ media_wrapper_class }}">
            {{
              media.preview_image
              | image_url: width: 1445
              | image_tag:
                loading: loading,
                preload: forloop.first,
                width: media.preview_image.width,
                height: media.preview_image.height,
                class: 'w-full h-full aspect-[inherit] object-cover object-center',
                sizes: sizes,
                widths: '550, 1100, 1445, 1680, 2048, 22200, 2890, 4096',
                alt: media.preview_image.alt
              | escape
            }}
          </div>
        {%- endfor -%}
      </div>
      <div
        id="ProductInfo-{{ section.id }}"
        class="sticky md:top-0 md:h-screen"
      >
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        <div class="flex w-full max-w-xl flex-col p-6 md:mx-auto md:max-w-sm md:px-0">
          <div class="product-header mb-8 grid gap-2">
            <h1 class="font-heading text-heading font-heading-weight">{{ product.title | escape }}</h1>
            {% if section.settings.show_vendor %}
              <p class="text-copy font-body-weight-bold opacity-50">{{ product.vendor }}</p>
            {% endif %}
          </div>

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'price' -%}
                <div
                  class="no-js:hidden [.product-header_+_&]:-mt-6"
                  id="price-{{ section.id }}"
                  role="status"
                  {{ block.shopify_attributes }}
                >
                  {%- render 'price', product: product, use_variant: true, price_class: 'mb-10' -%}
                </div>
              {%- when 'tab' -%}
                <div class="tab mb-10 [.tab_+_&]:-mt-6" {{ block.shopify_attributes }}>
                  <details id="Details-{{ block.id }}-{{ section.id }}">
                    <summary>
                      <h2 class="flex justify-between text-lead font-body-weight-bold">
                        {{ block.settings.title | default: block.settings.page.title }}
                        <span class="h-5 w-5 [details[open]_&]:rotate-180">
                          {% render 'icon-caret' %}
                        </span>
                      </h2>
                    </summary>
                    <div class="prose prose-invert pb-4 pt-4" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                      {{ block.settings.content }}
                      {{ block.settings.page.content }}
                    </div>
                  </details>
                </div>
              {%- when 'variant_picker' -%}
                {%- unless product.has_only_default_variant -%}
                  {%- if block.settings.picker_type == 'button' -%}
                    <variant-radios
                      class="mb-10 grid gap-4 no-js:hidden"
                      data-section="{{ section.id }}"
                      data-url="{{ product.url }}"
                      {{ block.shopify_attributes }}
                      client:idle
                    >
                      {%- for option in product.options_with_values -%}
                        <fieldset class="mb-4 flex flex-wrap gap-x-4 gap-y-2 last-of-type:mb-0">
                          <legend class="block w-full pb-2 text-lead font-body-weight-bold">{{ option.name }}</legend>
                          {%- for value in option.values -%}
                            <div>
                              <input
                                class="peer sr-only"
                                type="radio"
                                id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="{{ product_form_id }}"
                                {% if option.selected_value == value %}
                                  checked
                                {% endif %}
                              >
                              <label
                                class="cursor-pointer py-1 leading-none transition-all duration-200 peer-checked:border-b-[1.5px] peer-checked:border-primary/50"
                                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              >
                                {{ value }}
                              </label>
                            </div>
                          {%- endfor -%}
                        </fieldset>
                      {%- endfor -%}
                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-radios>
                  {%- else -%}
                    <variant-selects
                      class="mb-10 grid gap-4 no-js:hidden"
                      data-section="{{ section.id }}"
                      data-url="{{ product.url }}"
                      {{ block.shopify_attributes }}
                      client:idle
                    >
                      {%- for option in product.options_with_values -%}
                        <div class="mb-4 flex flex-col gap-x-4 gap-y-2 last-of-type:mb-0">
                          <label
                            class="block w-full pb-2 text-lead font-body-weight-bold"
                            for="Option-{{ section.id }}-{{ forloop.index0 }}"
                          >
                            {{ option.name }}
                          </label>
                          <div class="relative">
                            <select
                              id="Option-{{ section.id }}-{{ forloop.index0 }}"
                              class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                              name="options[{{ option.name | escape }}]"
                              form="{{ product_form_id }}"
                            >
                              {%- for value in option.values -%}
                                <option
                                  value="{{ value | escape }}"
                                  {% if option.selected_value == value %}
                                    selected="selected"
                                  {% endif %}
                                >
                                  {{ value }}
                                </option>
                              {%- endfor -%}
                            </select>
                            <span class="absolute right-4 top-1/2 -translate-y-1/2">
                              {% render 'icon-caret' %}
                            </span>
                          </div>
                        </div>
                      {%- endfor -%}

                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-selects>
                  {%- endif -%}
                {%- endunless -%}

                <noscript class="mb-10">
                  <div class="mb-4 flex flex-col gap-x-4 gap-y-2 last-of-type:mb-0{% if product.has_only_default_variant %} hidden{% endif %}">
                    <label class="block w-full pb-2 text-lead font-body-weight-bold" for="Variants-{{ section.id }}">
                      {{- 'products.product.product_variants' | t -}}
                    </label>
                    <div class="relative">
                      <select
                        name="id"
                        id="Variants-{{ section.id }}"
                        class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                        form="{{ product_form_id }}"
                      >
                        {%- for variant in product.variants -%}
                          <option
                            {% if variant == product.selected_or_first_available_variant %}
                              selected="selected"
                            {% endif %}
                            {% if variant.available == false %}
                              disabled
                            {% endif %}
                            value="{{ variant.id }}"
                          >
                            {{ variant.title }}
                            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                            - {{ variant.price | money | strip_html }}
                          </option>
                        {%- endfor -%}
                      </select>
                      <span class="absolute right-4 top-1/2 -translate-y-1/2">
                        {% render 'icon-caret' %}
                      </span>
                    </div>
                  </div>
                </noscript>
              {%- when 'buy_buttons' -%}
                <div {{ block.shopify_attributes }}>
                  <product-form client:idle>
                    <p class="text-red-500" role="alert" data-error-message hidden></p>
                    {%- form 'product',
                      product,
                      id: product_form_id,
                      class: 'form',
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form'
                    -%}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                        disabled
                      >
                      <div class="[&_button[aria-disabled]]:background-red-500 mb-12 grid items-stretch [&_.shopify-payment-button_>_div]:mt-4 [&_[aria-hidden]]:hidden">
                        <button
                          type="submit"
                          name="add"
                          class="button w-full bg-primary text-contrast disabled:cursor-not-allowed disabled:opacity-50"
                          {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% endif %}
                        >
                          <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                        </button>
                        {%- if block.settings.show_dynamic_checkout -%}
                          {{ form | payment_button }}
                        {%- endif -%}
                      </div>
                    {%- endform -%}
                  </product-form>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</section>

{% schema %}
{
  "name": "Product information",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendor",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "button",
              "label": "Buttons"
            }
          ],
          "default": "button",
          "label": "Type"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    },
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Shipping information"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content",
          "default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        }
      ]
    }
  ]
}
{% endschema %}
