<div class="grid w-full justify-items-start gap-8 p-6 py-8 md:p-8 lg:p-12">
  <div class="w-full">
    <h1 class="w-full max-w-md font-heading text-heading font-heading-weight">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}" class="mt-4 block w-fit">
      {{ 'customer.log_out' | t }}
    </a>
  </div>

  <div class="w-full grid-cols-[1fr_auto] gap-8 lg:grid">
    <div>
      <h2 class="pb-6 font-heading text-lead font-heading-weight">{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="w-full table-auto border-collapse border-b border-primary md:border">
            <caption class="sr-only">
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role="rowgroup" class="hidden md:table-header-group">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader" class="p-4 text-left">
                  {{ 'customer.orders.order_number' | t }}
                </th>
                <th id="ColumnDate" scope="col" role="columnheader" class="p-4 text-left">
                  {{ 'customer.orders.date' | t }}
                </th>
                <th id="ColumnPayment" scope="col" role="columnheader" class="p-4 text-left">
                  {{ 'customer.orders.payment_status' | t }}
                </th>
                <th id="ColumnFulfillment" scope="col" role="columnheader" class="p-4 text-left">
                  {{ 'customer.orders.fulfillment_status' | t }}
                </th>
                <th id="ColumnTotal" scope="col" role="columnheader" class="p-4 text-right">
                  {{ 'customer.orders.total' | t }}
                </th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row" class="flex w-full flex-col justify-start border-t border-primary md:table-row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                    class="flex items-center pb-2 pt-6 before:grow before:content-[attr(data-label)] md:table-cell md:p-4 md:before:content-none"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td
                    headers="RowOrder ColumnDate"
                    role="cell"
                    data-label="{{ 'customer.orders.date' | t }}"
                    class="flex items-center py-2 before:grow before:content-[attr(data-label)] md:table-cell md:p-4 md:before:content-none"
                  >
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                    class="flex items-center py-2 before:grow before:content-[attr(data-label)] md:table-cell md:p-4 md:before:content-none"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnFulfillment"
                    role="cell"
                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                    class="flex items-center py-2 before:grow before:content-[attr(data-label)] md:table-cell md:p-4 md:before:content-none"
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnTotal"
                    role="cell"
                    data-label="{{ 'customer.orders.total' | t }}"
                    class="flex items-center pb-6 pt-2 text-right before:grow before:content-[attr(data-label)] md:table-cell md:p-4 md:before:content-none"
                  >
                    {{ order.total_price | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="mb-10 mt-10" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list" class="flex items-center justify-center gap-6">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6" class="h-4 w-4 rotate-90">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6" class="h-4 w-4 -rotate-90">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2 class="my-6 font-heading text-lead font-heading-weight lg:mt-0">{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a class="mt-6 block w-fit" href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Account"
}
{% endschema %}
