<div class="">
  <svg style="display: none">
    <symbol id="icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </symbol>
  </svg>
  <div class="flex flex-col items-center justify-center gap-4 px-4 py-8 md:px-8 lg:px-12">
    <h1 class="font-heading font-heading-weight">{{ shop.name }}</h1>
    {%- if shop.password_message != blank -%}
      <div class="text-lead">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    <password-modal>
      <details class="">
        <summary class="right-4 top-4 z-10 [.no-js_details[open]_&]:absolute" aria-haspopup="dialog">
          <div class="flex gap-2 text-lead [.no-js_details[open]_&]:hidden">
            {% render 'icon-padlock' %}
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="hidden [details[open]_&]:block" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class="absolute inset-0 z-10 flex items-center justify-center bg-contrast"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="flex h-full w-full flex-col items-center justify-center gap-4 p-4 text-center" tabindex="-1">
            <button
              type="button"
              class="absolute right-4 top-4 z-10 no-js:hidden"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {% render 'icon-close' %}
            </button>
            <h2 class="text-lead" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'flex flex-wrap gap-4 max-w-[335px] w-100' -%}
              <div class="flex w-full flex-col gap-4">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3 placeholder:text-white"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="sr-only" for="{{ 'general.password_page.login_form_password_label' | t }}">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="sr-only">{{ 'accessibility.error' | t }}</span>
                    <span class="flex gap-2 text-red-500">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="h-4 w-4">
                        <use href="#icon-error" />
                      </svg>
                      {{ 'general.password_page.login_form_error' | t }}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="button w-full bg-primary text-contrast">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{% schema %}
{
  "name": "Password header"
}
{% endschema %}
