<div class="grid w-full gap-4 p-6 py-8 md:justify-items-center md:p-8 md:text-center lg:p-12">
  <h1 class="inline-block max-w-prose-narrow font-heading text-heading font-heading-weight">
    {{ article.title | escape }}
  </h1>
  <span>{{ article.published_at | time_tag: format: 'date' }}</span>
</div>
<div class="grid w-full gap-4 border-none px-6 md:gap-8 md:px-8 lg:px-12">
  {%- if article.image -%}
    <img
      srcset="
        {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
        {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
        {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
        {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
        {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
        {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
        {{ article.image | image_url }} {{ article.image.width }}w
      "
      sizes="(min-width: 1200px) 1100px, (min-width: 750px) calc(100vw - 10rem), 100vw"
      src="{{ article.image | image_url: width: 1100 }}"
      class="mx-auto mt-8 w-full max-w-7xl md:mt-16"
      loading="eager"
      fetchpriority="high"
      width="{{ article.image.width }}"
      height="{{ article.image.height }}"
      alt="{{ article.image.alt | escape }}"
    >
  {%- endif -%}
  <div class="article prose">{{ article.content }}</div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{}
{% endschema %}
