<div class="">
  <div class="">
    <h1 class="">{{ shop.name }}</h1>
    {%- if shop.password_message != blank -%}
      <div class="">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    <password-modal>
      <details class="">
        <summary class="" aria-haspopup="dialog">
          <div class="">
            {% render 'icon-padlock' %}
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class=""
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="" tabindex="-1">
            <button type="button" class="" aria-label="{{ 'accessibility.close' | t }}">
              {% render 'icon-close' %}
            </button>
            <h2 class="" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class=""
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="">{{ 'accessibility.error' | t }}</span>
                    <span class="">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{% schema %}
{
  "name": "Password header"
}
{% endschema %}
