<section
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
>
  <div
    id="ProductInfo-{{ section.id }}"
  >

  {%- assign product_form_id = 'product-form-' | append: section.id -%}

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'buy_buttons' -%}
        <div {{ block.shopify_attributes }}>
          <product-form>
            <p class="text-red-500" role="alert" data-error-message hidden></p>
            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}"
                disabled
              >
              <div>
                <button
                  type="submit"
                  name="add"
                  {% if product.selected_or_first_available_variant.available == false %}
                    disabled
                  {% endif %}
                >
                  <span>
                    {%- if product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  </span>
                </button>
                {%- if block.settings.show_dynamic_checkout -%}
                  {{ form | payment_button }}
                {%- endif -%}
              </div>
            {%- endform -%}
          </produt-form>
        </div>
    {%- endcase -%}
  {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Product information",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    }
  ]
}
{% endschema %}

