{%- paginate customer.addresses by 5 -%}
  <div class="mx-auto w-full max-w-xl p-6 py-8 md:p-8 lg:p-12" data-customer-addresses>
    <h1 class="text-center font-heading text-heading font-heading-weight">{{ 'customer.addresses.title' | t }}</h1>
    <a class="mx-auto mt-4 block w-fit" href="{{ routes.account_url }}">
      {{ 'customer.account.return' | t }}
    </a>

    <div class="text-center" data-address>
      <button
        class="button mt-10 bg-primary text-contrast"
        type="button"
        aria-expanded="false"
        aria-controls="AddAddress"
      >
        {{ 'customer.addresses.add_new' | t }}
      </button>
      <div id="AddAddress" class="hidden [[aria-expanded='true']_~_&]:block">
        <h2 class="mt-10 text-left font-heading text-lead font-heading-weight" id="AddressNewHeading">
          {{ 'customer.addresses.add_new' | t }}
        </h2>
        {%- form 'customer_address',
          customer.new_address,
          aria-labelledBy: 'AddressNewHeading',
          class: 'flex [flex-flow:row_wrap]'
        -%}
          <div class="mt-8 grid w-full gap-2 text-left md:mr-8 md:w-[calc(50%_-_theme(spacing.4))]">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="text"
              id="AddressFirstNameNew"
              name="address[first_name]"
              value="{{ form.first_name }}"
              autocomplete="given-name"
            >
          </div>
          <div class="mt-8 grid w-full gap-2 text-left md:w-[calc(50%_-_theme(spacing.4))]">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="text"
              id="AddressLastNameNew"
              name="address[last_name]"
              value="{{ form.last_name }}"
              autocomplete="family-name"
            >
          </div>
          <div class="mt-8 grid w-full gap-2 text-left">
            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="text"
              id="AddressCompanyNew"
              name="address[company]"
              value="{{ form.company }}"
              autocomplete="organization"
            >
          </div>
          <div class="mt-8 grid w-full gap-2 text-left">
            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="text"
              id="AddressAddress1New"
              name="address[address1]"
              value="{{ form.address1 }}"
              autocomplete="address-line1"
            >
          </div>
          <div class="mt-8 grid w-full gap-2 text-left">
            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="text"
              id="AddressAddress2New"
              name="address[address2]"
              value="{{ form.address2 }}"
              autocomplete="address-line2"
            >
          </div>
          <div class="mt-8 grid w-full gap-2 text-left">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="text"
              id="AddressCityNew"
              name="address[city]"
              value="{{ form.city }}"
              autocomplete="address-level2"
            >
          </div>
          <div class="mt-8 grid w-full gap-2 text-left">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <div class="relative mt-2 w-full">
              <select
                class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                id="AddressCountryNew"
                name="address[country]"
                data-default="{{ form.country }}"
                autocomplete="country"
              >
                {{ all_country_option_tags }}
              </select>
              <span class="absolute right-4 top-1/2 -translate-y-1/2">
                {%- render 'icon-caret' -%}
              </span>
            </div>
          </div>
          <div class="mt-8 grid w-full gap-2 text-left" id="AddressProvinceContainerNew" style="display: none">
            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <div class="relative mt-2 w-full">
              <select
                class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                id="AddressProvinceNew"
                name="address[province]"
                data-default="{{ form.province }}"
                autocomplete="address-level1"
              ></select>
              <span class="absolute right-4 top-1/2 -translate-y-1/2">
                {%- render 'icon-caret' -%}
              </span>
            </div>
          </div>
          <div class="mt-8 grid w-full gap-2 text-left">
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="text"
              id="AddressZipNew"
              name="address[zip]"
              value="{{ form.zip }}"
              autocapitalize="characters"
              autocomplete="postal-code"
            >
          </div>
          <div class="mt-8 grid w-full gap-2 text-left">
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            <input
              class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
              type="tel"
              id="AddressPhoneNew"
              name="address[phone]"
              value="{{ form.phone }}"
              autocomplete="tel"
            >
          </div>
          <div class="mt-2 flex items-center gap-2">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
          <div class="mt-8 w-full text-left">
            <button class="button mr-2 bg-primary text-contrast">{{ 'customer.addresses.add' | t }}</button>
            <button class="button border border-primary/10 bg-contrast text-primary" type="reset">
              {{ 'customer.addresses.cancel' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
    </div>

    <ul class="my-10 text-center" role="list">
      {%- for address in customer.addresses -%}
        <li class="mb-10" data-address>
          {%- if address == customer.default_address -%}
            <h2 class="my-8 font-heading text-lead font-heading-weight">{{ 'customer.addresses.default' | t }}</h2>
          {%- endif -%}
          {{ address | format_address }}
          <button
            class="button mr-2 mt-8 border border-primary/10 bg-contrast text-primary"
            type="button"
            id="EditFormButton_{{ address.id }}"
            aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
            aria-controls="EditAddress_{{ address.id }}"
            aria-expanded="false"
            data-address-id="{{ address.id }}"
          >
            {{ 'customer.addresses.edit' | t }}
          </button>
          <button
            class="button border border-primary/10 bg-contrast text-primary"
            type="button"
            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
            data-target="{{ address.url }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
          >
            {{ 'customer.addresses.delete' | t }}
          </button>
          <div id="EditAddress_{{ address.id }}" class="hidden [[aria-expanded='true']_~_&]:block">
            <h2 class="mt-10 font-heading text-lead font-heading-weight">
              {{ 'customer.addresses.edit_address' | t }}
            </h2>
            {%- form 'customer_address', address, class: 'flex [flex-flow:row_wrap]' -%}
              <div class="mt-8 grid w-full gap-2 text-left md:mr-8 md:w-[calc(50%_-_theme(spacing.4))]">
                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="text"
                  id="AddressFirstName_{{ form.id }}"
                  name="address[first_name]"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                >
              </div>
              <div class="mt-8 grid w-full gap-2 text-left md:w-[calc(50%_-_theme(spacing.4))]">
                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="text"
                  id="AddressLastName_{{ form.id }}"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                  autocomplete="family-name"
                >
              </div>
              <div class="mt-8 grid w-full gap-2 text-left">
                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="text"
                  id="AddressCompany_{{ form.id }}"
                  name="address[company]"
                  value="{{ form.company }}"
                  autocomplete="organization"
                >
              </div>
              <div class="mt-8 grid w-full gap-2 text-left">
                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="text"
                  id="AddressAddress1_{{ form.id }}"
                  name="address[address1]"
                  value="{{ form.address1 }}"
                  autocomplete="address-line1"
                >
              </div>
              <div class="mt-8 grid w-full gap-2 text-left">
                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="text"
                  id="AddressAddress2_{{ form.id }}"
                  name="address[address2]"
                  value="{{ form.address2 }}"
                  autocomplete="address-line2"
                >
              </div>
              <div class="mt-8 grid w-full gap-2 text-left">
                <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="text"
                  id="AddressCity_{{ form.id }}"
                  name="address[city]"
                  value="{{ form.city }}"
                  autocomplete="address-level2"
                >
              </div>
              <div class="mt-8 grid w-full gap-2 text-left">
                <label for="AddressCountry_{{ form.id }}">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <div class="relative mt-2 w-full">
                  <select
                    class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                    id="AddressCountry_{{ form.id }}"
                    name="address[country]"
                    data-address-country-select
                    data-default="{{ form.country }}"
                    data-form-id="{{ form.id }}"
                    autocomplete="country"
                  >
                    {{ all_country_option_tags }}
                  </select>
                  <span class="absolute right-4 top-1/2 -translate-y-1/2">
                    {%- render 'icon-caret' -%}
                  </span>
                </div>
              </div>
              <div
                class="mt-8 grid w-full gap-2 text-left"
                id="AddressProvinceContainer_{{ form.id }}"
                style="display:none;"
              >
                <label for="AddressProvince_{{ form.id }}">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <div class="relative mt-2 w-full">
                  <select
                    class="block w-full appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                    id="AddressProvince_{{ form.id }}"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  ></select>
                  <span class="absolute right-4 top-1/2 -translate-y-1/2">
                    {%- render 'icon-caret' -%}
                  </span>
                </div>
              </div>
              <div class="mt-8 grid w-full gap-2 text-left">
                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="text"
                  id="AddressZip_{{ form.id }}"
                  name="address[zip]"
                  value="{{ form.zip }}"
                  autocapitalize="characters"
                  autocomplete="postal-code"
                >
              </div>
              <div class="mt-8 grid w-full gap-2 text-left">
                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                <input
                  class="appearance-none rounded border border-white bg-transparent bg-none px-4 py-3"
                  type="tel"
                  id="AddressPhone_{{ form.id }}"
                  name="address[phone]"
                  value="{{ form.phone }}"
                  autocomplete="tel"
                >
              </div>
              <div class="mt-2 flex items-center gap-2">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>
              <div class="mt-8 w-full text-left">
                <button class="button mr-2 bg-primary text-contrast">{{ 'customer.addresses.update' | t }}</button>
                <button class="button border border-primary/10 bg-contrast text-primary" type="reset">
                  {{ 'customer.addresses.cancel' | t }}
                </button>
              </div>
            {%- endform -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- if paginate.parts.size > 0 -%}
        <nav class="mb-10 mt-10" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul class="flex items-center justify-center gap-6" role="list">
            {%- if paginate.previous -%}
              <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6" class="h-4 w-4 rotate-90">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
              <li>
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                    {{- part.title -}}
                  </a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                      {{- part.title -}}
                    </span>
                  {%- else -%}
                    <span>{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6" class="h-4 w-4 -rotate-90">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Addresses"
}
{% endschema %}
