<section
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
>
  <div class="w-full gap-4 md:gap-8 grid px-0 md:px-8 lg:px-12 border-none">
    <div class="grid items-start md:gap-6 lg:gap-20 md:grid-cols-2 lg:grid-cols-3">
      <div class="swimlane md:grid-flow-row hiddenScroll md:p-0 md:overflow-x-auto md:grid-cols-2 w-screen md:w-full lg:col-span-2">
        {%- for media in product.media -%}
          {%- liquid
            assign decimal = forloop.index0 | modulo: 3
            assign is_first = false
            if forloop.first
              assign is_first = true
            endif
            assign is_fourth = false
            if forloop.index0 == 3
              assign is_fourth = true
            endif
            assign is_full_width = false
            if decimal == 0
              assign is_full_width = true
            endif
            if is_full_width
              assign media_wrapper_class = 'md:col-span-2'
              assign sizes = '(min-width: 64em) 60vw, (min-width: 48em) 50vw, 90vw'
            else
              assign media_wrapper_class = 'md:col-span-1'
              assign sizes = '(min-width: 64em) 30vw, (min-width: 48em) 25vw, 90vw'
            endif
            unless is_first or is_fourth
              assign media_wrapper_class = media_wrapper_class | append: ' md:aspect-[4/5]'
            endunless
          -%}
          <div class="aspect-square snap-center card-image bg-white dark:bg-contrast/10 w-mobileGallery md:w-full {{ media_wrapper_class }}">
            <img
              class="w-full h-full aspect-square fadeIn object-cover"
              srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if media.preview_image.width >= 1445 -%}{{ media.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                      {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                      {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                      {%- if media.preview_image.width >= 2200 -%}{{ media.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                      {%- if media.preview_image.width >= 2890 -%}{{ media.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                      {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                      {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
              sizes="{{ sizes }}"
              src="{{ media.preview_image | image_url: width: 1445 }}"
              alt="{{ media.preview_image.alt | escape }}"
              loading="lazy"
              width="{{ media.preview_image.width }}"
              height="{{ media.preview_image.height }}"
              data-media-id="{{ media.id }}"
            >
          </div>
        {%- endfor -%}
      </div>
      <div
        id="ProductInfo-{{ section.id }}"
        class="sticky md:-mb-nav md:top-nav md:-translate-y-nav md:h-screen md:pt-nav hiddenScroll md:overflow-y-scroll"
      >
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'buy_buttons' -%}
              <div {{ block.shopify_attributes }}>
                <product-form>
                  <p class="text-red-500" role="alert" data-error-message hidden></p>
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                      disabled
                    >
                    <div>
                      <button
                        type="submit"
                        name="add"
                        {% if product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                      </button>
                      {%- if block.settings.show_dynamic_checkout -%}
                        {{ form | payment_button }}
                      {%- endif -%}
                    </div>
                  {%- endform -%}
                </produt-form>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "Product information",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    }
  ]
}
{% endschema %}

