<div class="">
  <div class="flex flex-col items-center justify-center px-4 md:px-8 lg:px-12 gap-4 py-8">
    <h1 class="font-heading font-heading-weight">{{ shop.name }}</h1>
    {%- if shop.password_message != blank -%}
      <div class="text-lead">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    <password-modal>
      <details class="">
        <summary class="[.no-js_details[open]_&]:absolute top-4 right-4 z-10" aria-haspopup="dialog">
          <div class="gap-2 flex text-lead [.no-js_details[open]_&]:hidden">
            {% render 'icon-padlock' %}
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="hidden [details[open]_&]:block" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class="absolute inset-0 flex justify-center items-center bg-contrast z-10"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="p-4 flex flex-col items-center justify-center gap-4 text-center w-full h-full" tabindex="-1">
            <button type="button" class="absolute top-4 right-4 z-10 [.no-js_&]:hidden" aria-label="{{ 'accessibility.close' | t }}">
              {% render 'icon-close' %}
            </button>
            <h2 class="text-lead" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'flex flex-wrap gap-4 max-w-[335px]' -%}
              <div class="w-full">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="py-3 px-4 border rounded border-white bg-transparent bg-none appearance-none placeholder:text-white w-full"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="sr-only" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="">{{ 'accessibility.error' | t }}</span>
                    <span class="">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="button bg-primary text-contrast w-full">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{% schema %}
{
  "name": "Password header"
}
{% endschema %}
